@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-base-200 text-base-content;
}

/* Show/hide logos based on DaisyUI theme */
[data-theme="dark"] [data-theme-hide="dark"] {
  display: none;
}

[data-theme="light"] [data-theme-hide="light"] {
  display: none;
}
